*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Text*/

@font-face{
    font-family: "consolas";
    src:"fonts/consola.ttf"
}
@font-face{
    font-family: "consolas-bold";
    src:"fonts/consolab.ttf"
}
@font-face{
    font-family: "consolas italic";
    src:"fonts/consolai.ttf"
}
hr{
    width: 100%;
}
h1{
    font-family: "consolas";
    color: black;
    position: relative;
    cursor: pointer;
    font-size: 96px;
    font-weight: 200;
    animation: glitch 1s linear infinite;
}
h2{
    font-family: "consolas";
    color: black;
    font-size: 36px;
    font-weight: 200;
}
h3{

    font-family: "consolas";
    color: black;
    font-size: 16px;
    font-weight: 200;   
}
h4{
    font-family: "consolas-bold";
    color: black;
    font-size: 24px;
    font-weight: 200;   
}
ul{
    margin-top: 24px;
    margin-bottom: 24px;
}
li{
    list-style: none;
    font-weight: 400;
    margin: 10px 0;
    font-family: "consolas";
    color: black;
    font-size: 16px;
}
.topnav h2{
    font-family: "consolas";
    color: white;
    font-size: 24px;
    font-weight: 200;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
p{
    font-family: "consolas";
    font-size: 16px;
    line-height: 24px;
}
a{
    cursor: pointer;
}
blockquote{
    font-family: "consolas";
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.case-study-headings{
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: "consolas bold";
}

/*Containers*/

.topnav{
    box-sizing: border-box;
    display: block;
    align-items: center;
}
.content{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
}
.work-title{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 48px;
}
.grid-container-work{
    margin-top: 16px;
    box-sizing: border-box;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    text-align: center;
}
.grid-container-nav{
    box-sizing: border-box;
    background-color: black;
    display: grid;
    grid-template-columns: auto 125px 125px 125px 125px;
    height: 60px;
    max-width: 100%;
    padding-left: 84px;
    padding-right: 84px;
}
.grid-container-about{
    margin-top: 48px;
    box-sizing: border-box;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
}
.grid-container-dissecting{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-container-rem{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 48px;
    margin-bottom: 24px;
}
.rem-title{
    margin-top: 48px;
}
button:hover{
    color: black;
    background-color: white;
    border-color: black;
}
button{
    width: 100px;
    height: 32px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-family: "consolas";
}
.profile-icon{
    background-image: url("images/profile_picture.png");
    background-size: contain;
    width: 60px;
    height: 60px;
}
.hero{
    padding-left: 84px;
    padding-right: 84px;
}
.hero-text{
    margin-top: 220px;
    display: grid;
    place-items: center;
    vertical-align: middle;
}
.project-card{
    padding: 24px;
}
.project-image{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-bottom: 24px;
}
form{
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 450px;
    background-color: black;
    place-items: center;
}
.form-wrapper{
    margin-top: 132px;
}
input{
    width: 100%;
    height: 32px;
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
    font-family: "consolas";
}
#message{
    width: 100%;
    height: 100px;
    border-radius: 16px;
    max-height: 100px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
    font-family: "consolas";
}
#submit{
    margin-top: 16px;
}

/*Header Keyframes Animation*/

h1:before, h1:after{
    content: "FRANCIS FITZGERALD";
    position: absolute;
    left: 0;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
h1:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
h1:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Work Page Animation*/

.work-title h2:before, .work-title h2:after{
    content: "My Work";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.work-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.work-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 148px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*About Page Animation*/
.about-title h2:before, .about-title h2:after{
    content: "Francis Fitzgerald";
    position: absolute;

}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.about-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.about-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 148px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Spotify Scopes Animation*/

.scopes-title h2:before, .scopes-title h2:after{
    content: "Spotify Scopes";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.scopes-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.scopes-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 156px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Dissecting Page Animation*/

.dissecting-title h2:before, .dissecting-title h2:after{
    content: "Dissecting How You Feel";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.dissecting-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.dissecting-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 119px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

.scopes-title h2:before, .scopes-title h2:after{
    content: "Spotify Scopes";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.scopes-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.scopes-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 156px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Dissecting Page Animation*/

.rem-title h2:before, .rem-title h2:after{
    content: "REM Film Festival";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.rem-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(0px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.rem-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 119px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*video*/

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

/*SPOTIFY SCOPES*/
.user-card h2{
    font-size: 24px;
    line-height: 24px;
    color:white;
}
.scopes-title{
    margin-left: 36px;
    margin-right: 36px;
    padding-top: 48px;
}
iframe{
    width: 640px;
    height: 480px;
    display: block;
    margin: auto;
}
#screens{
    display: inline-flex;
    vertical-align: middle;
    width: 640px;
    height: 480px;
}
.case-study-block{
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 24px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    margin-top: 24px;
}
.flex-item{
    flex: 50%;
}
#week-one{
    background-color: #000000;
    padding: 16px;
}
#week-one-mobile{
    display: none;
}
.user-card{
    padding: 24px;
    margin-right: 36px;
    margin-bottom: 16px;
    margin-top: 16px;
    display: inline-block;
    max-width: 100%;
    color: white;
    line-height: 21px;
}
#uc-one{
    background-color: #000000;
}
#uc-two{
    background-color: #000000;
}
#uc-three{
    background-color: #000000;
}
#uc-four{
    background-color: #000000;
}
#uc-five{
    background-color: #000000;
}
#uc-six{
    background-color: #000000;
    padding: 16px;
}
#user-image-one{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-image: url("images/persona2.png");
    filter: grayscale(100%);
    background-size: contain;
    display: inline-flex;
}
#user-image-two{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-image: url("images/persona1.png");
    filter: grayscale(100%);
    background-size: contain;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.action-block{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    background-color: #252525;
    padding: 16px;
    font-family: 'consolas';
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.25rem;
    color: white;
    margin: 16px;

}
#arrow{
    background-color: black;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.path{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: #121212;
    text-align: center;
    margin-top: 16px;
}
.sketches{
    margin: auto;
    display: block;
}

/*Dissecting How You Feel*/

.dissecting-title{
    padding-top: 48px;
}
.grid-container-dissecting{
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    display: grid;
    width: 100%;
}
#editor{
    width: 100%;
    height: 400px;
    resize: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: .75rem;
}



